/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of the Reset */


/* General Css */
.col-dk-1 {
    height: 350px;
    width: 8.33%;
    float: left;
    margin: 0;
    padding: 0;
}

.col-dk-12 {
    height: 200px;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.orange {
    background: orange;
}

.black {
    background: black;
}

.grey {
    background: grey;
}

.turquoise {
    background: #08746c;
}

.burgandy {
    background: #740828;
}

.clearfix {
    display: block;
    float: none;
    clear: both;
}


/* Media Query - Mobile */
@media screen and (min-width:180px) and (max-width:768px) {
    .col-sm-9 {
        width: 75%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-7 {
        width: 58.33%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-6 {
        width: 50%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-5 {
        width: 41.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-4 {
        width: 33.33%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-3 {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-sm-2 {
        width: 16.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .yellow {
    background: #eee406;
    }
    
    .green {
        background: #abe32e;
    }

    .orange {
        background: #fd7f00;
    }

    .black {
        background: #4b4b4b;
    }

    .grey {
        background: #a5a5a5;
    }
}


/* Media Query - Tablet */
@media screen and (min-width:769px) and (max-width:1024px) {
    .col-med-4 {
        width: 33.33%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-med-3 {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-med-2 {
        width: 16.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
}


/* Media Query - Laptop */
@media screen and (min-width:1025px) and (max-width:1440px) {
    .col-lptp-9 {
        width: 75%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-7 {
        width: 58.33%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-6 {
        width: 50%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-5 {
        width: 41.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-4 {
        width: 33.33333%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-3 {
        width: 25%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .col-lptp-2 {
        width: 16.66%;
        float: left;
        margin: 0;
        padding: 0;
    }
    
    .yellow {
    background: #eee406;
    }
    
    .green {
        background: #abe32e;
    }

    .orange {
        background: #fd7f00;
    }

    .black {
        background: #4b4b4b;
    }

    .grey {
        background: #a5a5a5;
    }
    
    .yellow {
    background: #eee406;
    }
    
    .green {
        background: #abe32e;
    }

    .orange {
        background: #fd7f00;
    }

    .black {
        background: #4b4b4b;
    }

    .grey {
        background: #a5a5a5;
    }
}